body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #654001;
}
body .main .main_center {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: auto;
}
body .main .main_center h1 {
  margin: auto;
}
body .main .main_center h2 {
  margin: auto;
}
body .main .main_center .buttons_div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
body .main .main_center .buttons_div .button {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid black;
  cursor: pointer;
}